if SHIELD_CORNEY_ISLAND_LEFT

config ZMK_KEYBOARD_NAME
    default "Corney Island"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_CORNEY_ISLAND_LEFT || SHIELD_CORNEY_ISLAND_RIGHT

config ZMK_SPLIT
    default y

endif